
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Satisfy&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <%- include('partials/header') %>
  <body>
    <main>

      <div class="book-list">
      <% for(let book of data) { %>
      <div class="book-one list">
        <img class="book-cover2" src=<%= book.bookcover %> >
        <div class="book-name"><%= book.title %></div>
        <p class="book-author"> Author: <%= book.author %></p>
        <p class="book-year"> Year: <%= book.year %></p>
        <p class="book-price"> Price: $<%= book.price %> </p>
        <div class="message-and-like">
          <div class="form-inline">
            <form action="messages/<%= book.owner_id %> " method="GET">

              <button class="btn btn-danger">Send Message</button>
            </form>

          </div>
        <% if (book.sold === true) { %>
          <div class="sold">SOLD</div>
        <%}%>
        <!-- <p><button class="like" id="addlike">like</button> </p> -->

          <div class="likes">
            <i type="button" id="addlike" class="like fas fa-heart"></i>

          </div>
        </div>

    </div>
    <%}%>

    </main>

    <div class="footer-basic">
      <%- include('partials/footer') %>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  </body>
</html>




