<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<%- include('partials/header') %>

  <body>
    <div class="order-container">
      <div>
          <div id="shipping-info">
            <form class="submit-shipping-info" method="POST" action=/cart>
              <div>
                <h2>Contact Information</h2>
                <div class="user-input">
                  <label>Email Address</label>
                  <input name="emailAddress" type="text">
                </div>
                <div class="user-input">
                  <label>Phone Number</label>
                  <input name="phoneNumber" type="text">
                </div>
              </div>

              <div>
                <h2>Shipping Information</h2>
                <div class="user-input">
                  <label>First Name</label>
                  <input name="firstName" type="text">
                </div>
                <div class="user-input">
                  <label>Last Name</label>
                  <input name="lastName" type="text">
                </div>
                <div class="user-input">
                  <label>Shipping Address</label>
                  <input name="shippingAddress" type="text">
                </div>
                <div class="user-input">
                  <label>City</label>
                  <input name="city" type="text">
                </div>
                <div class="user-input">
                  <label>Province</label>
                  <input name="province" type="text">
                </div>
                <div class="user-input">
                  <label>Postal Code</label>
                  <input name="postalCode" type="text">
                </div>
              </div>

              <div>
                <h2>Payment Information</h2>
                <div class="user-input">
                  <label>Card number</label>
                  <input name="cardNumber" type="text">
                </div>
                <div>
                  <div class="user-input">
                    <label>Expiration date</label>
                    <input name="expirationDate" type="text">
                  </div>
                  <div class="user-input">
                    <label>Security code</label>
                    <input name="securityCode" type="text">
                  </div>
                </div>
                <div>
                  <div class="user-input">
                    <label>First name</label>
                    <input name="creditFirstName" type="text">
                  </div>
                  <div class="user-input">
                    <label>Last name</label>
                    <input name="creditLastName" type="text">
                  </div>
                </div>
              </div>
              <button class="btn btn-success" type="submit">Continue To Payment</button>
            </form>
          </div>

      <div id="test2">
        <h2>Order Summary</h2>
        <div class="order-total">
          <div>
            <label>Item Subtotal:</label>
            <label>$<%= finalPrice %></label>
          </div>
          <div>
            <label>Shipping:</label>
            <label>$<%= shipping %></label>
          </div>
          <div>
            <label>Taxes:</label>
            <label>$<%= taxes %></label>
          </div>
          <div>
            <label>Total:</label>
            <label>$<%= totalPrice %></label>
          </div>
        </div>
          <div id="test-div">
            <div class="order-item-display">
              <% for(let book of books) { %>
                <div id="cart-book-list">
                  <img id="cart-image" src=<%= book.bookcover %>>
                  <div>
                    <div class="book-name"><%= book.title %></div>
                    <p class="book-author"> Author: <%= book.author %></p>
                    <p class="book-year"> Year: <%= book.year %></p>
                    <div class="book-price"> Price: $<%= book.price %> </div>
                  </div>
                  <button class="btn btn-danger">Remove</button>
              </div>
              <%}%>
            </div>
            </div>

          </div>
      </div>

    </div>

  </body>
  <%- include('partials/footer') %>

</html>
